[Desktop Entry]
Version=1.0
Name=Firefox
Comment=Web Browser
Exec=/opt/firefox-installer/firefox %u
Icon=/opt/firefox-installer/firefox.png
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
Categories=Network;WebBrowser;
